%h4.page-title
  = @project.name
  @
  #{gitlab_commit_link(@project, @commit.sha)}
%p
  = link_to project_path(@project) do
    &larr; Back to project commits
%hr
.commit-info
  %pre.commit-message
    #{@commit.git_commit_message}

  .row
    .col-sm-6
      - if @commit.compare?
        %p
          %span.attr-name Compare:
          #{gitlab_compare_link(@project, @commit.short_before_sha, @commit.short_sha)}
      - else
        %p
          %span.attr-name Commit:
          #{gitlab_commit_link(@project, @commit.sha)}

      %p
        %span.attr-name Branch:
        #{gitlab_ref_link(@project, @commit.ref)}
    .col-sm-6
      %p
        %span.attr-name Author:
        #{@commit.git_author_name} (#{@commit.git_author_email})
      - if @commit.created_at
        %p
          %span.attr-name Created at:
          #{@commit.created_at.to_s(:short)}

- if current_user && current_user.has_developer_access?(@project.gitlab_id)
  .pull-right
    - if @commit.builds.running_or_pending.any?
      = link_to "Cancel", cancel_project_ref_commit_path(@project, @commit.ref, @commit.sha), class: 'btn btn-sm btn-danger'


- if @commit.yaml_errors.present?
  .bs-callout.bs-callout-danger
    %h4 Found errors in your .gitlab-ci.yml:
    %ul
      - @commit.yaml_errors.split(",").each do |error|
        %li= error

- unless @commit.push_data[:ci_yaml_file]
  .bs-callout.bs-callout-warning
    \.gitlab-ci.yml not found in this commit
        
%h3 Status

.build.alert{class: commit_status_alert_class(@commit)}
  .status
    = @commit.status.titleize

%h3
  Builds
  - if @commit.duration > 0
    %small.pull-right
      %i.icon-time
      #{time_interval_in_words @commit.duration}

%table.builds
  %thead
    %tr
      %th Status
      %th Build ID
      %th Trigger
      %th Name
      %th Duration
      %th Finished at
      - if @project.coverage_enabled?
        %th Coverage
      %th
  = render @commit.builds_without_retry, controls: true

- if @commit.retried_builds.any?
  %h3
    Retried builds

  %table.builds
    %thead
      %tr
        %th Status
        %th Build ID
        %th Trigger
        %th Name
        %th Duration
        %th Finished at
        - if @project.coverage_enabled?
          %th Coverage
        %th
    = render @commit.retried_builds
